$dark-grey: #1E222C;
$grey: #444;
$light-grey: #F6F6F6;
$black: #000;
$green: #7A7F51;

$labour-color: #E00600;
$cons-color: #0061C8;
$lib-color: #FEB000;
$ukip-color: #5B0066;
$sdlp-color: #0C5C40;

$traffic-light-green: #6FC402;
$traffic-light-amber: #F3CA00;
$traffic-light-red: #F86C00;

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  text-transform: uppercase;
}

#appBody {
  color: $dark-grey;
  min-height: 200px;

  .container {
    margin-top: 80px;
  }

}

.text-muted {
  color: $green;
}

.navbar {
  border-radius: 0 !important;
  background-color: $dark-grey;
  margin-bottom: 0;
  border-bottom: 0;

  .navbar-brand {
    font-size: 22px;

    span {
      color: #fff;
      font-weight: bold;
    }

  }
  .navbar-collapse {
    text-align: center;
  }

  ul.navbar-nav {
    margin: 0 auto !important;
    display: inline-block;
    float: none;
  }

  #search-form {
    input {
      margin-top: 10px;
      background: $black;
      border: none;
    }

  }

}

footer {
  background-color: $dark-grey;
  margin-top: 50px;
}

// Generic search form - both header and home
#search-form {

  position: relative;

  span.glyphicon-search {
    color: #fff;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -0.5em;
  }

  input {
    border-radius: 0;
    box-shadow: none;
    color: #fff;
  }
}

.autocomplete-suggestions {
  color: #fff;
}

.autocomplete-suggestion {
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.autocomplete-selected {
  background: #fff;
  color: $dark-grey;
}

#appBody, div.home {
  display: inline;
}

// Home page

.home {

  .full {
    background: url('/img/commons-full.jpg') no-repeat center center fixed;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;

    .container {
      text-align: center;
    }

    h1 {
      margin-top: 160px;
      color: #fff;
      font-size: 50px;
      text-align: center;
    }

    #search-form {
      input {
        border: 1px solid #fff;
        background: none;
        font-size: 2em;
        line-height: 60px;
        height: 60px;
      }

      span.glyphicon-search {
        font-size: 30px;
      }
    }

    #home-search {
      width: 60%;
      margin: 80px auto 0 auto;
    }

    .help {
      color: #fff;
      margin: 20px 0;
      font-size: 18px !important;
    }

  }

  h2 {
    margin: 50px 0 30px 0;
  }

  .blocks {
    margin: 20px 0;
    text-align: center;

    h3 {
      margin: 20px 0 5px 0;
      font-size: 18px;
    }

    img {
      display: block;
      margin: 10px auto;
    }

  }

}

// MP List Page

.mp-list {
  margin-top: 80px;

  table {
    th {
      border-bottom: none !important;
      cursor: pointer;
      &:before {
        cursor: pointer;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 16px;
        margin-right: 5px;
        position: relative;
      }

    }
    th.sorting-asc:before {
      content: "\f0dd";
      top: -2px;
    }
    th.sorting-desc:before {
      content: "\f0de";
      top: 5px;
    }
    td {
      border: none !important;
      vertical-align: middle !important;
    }
  }

  .fa-circle {
    font-size: 12px;
    margin-right: 10px;
  }

  .labour i.fa-circle {
    color: $labour-color;
  }
  .conservative i.fa-circle {
    color: $cons-color
  }
  .liberal-democrat i.fa-circle {
    color: $lib-color;
  }

}

// MP Page

.mp {
  margin-top: 80px;

  .header {
    color: #fff;
    background: #666;

    .image {
      float: left;
      width: 60px;
      height: 60px;
      position: relative;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #fff;
      margin-top: 5px;
      margin-right: 15px;
      margin-bottom: 5px;

      img {
        object-fit: cover;
        min-height: 100%;
        min-width: 100%;
      }

    }

    h1 {
      margin: 15px 0 0 0;
    }

    h1.with-post {
      margin: 5px 0 2px 0;
    }

    h6 {
      margin: 0

    }

    h4 {
      font-weight: normal;
      line-height: 1.3em;

      strong {
        display: block;
      }

    }

  }

  .header-labour {
    background-color: $labour-color;
  }

  .header-conservative {
    background-color: $cons-color;
  }

  .header-liberal-democrat {
    background-color: $lib-color;
  }

  .header-uk-independence-party {
    background-color: $ukip-color;
  }

  table {
    max-width: 800px;
    margin: 20px auto;

    tr {
      padding: 10px 0;

      th, td {
        padding: 10px 0;
        vertical-align: middle;
      }

    }

    th {

      color: $grey;

      h2 {
        margin: 0 0 5px 0;
        font-size: 22px;
      }

      p {
        font-weight: normal;
        margin-right: 80px;
        font-size: 13px;
      }

    }

    td {

      h3 {
        font-size: 28px;
        margin: 0;
      }

      .traffic-light {

        width: 60px;
        height: 60px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 11px;
        overflow: hidden;

        span {
          display: block;
          padding-top: 15px;
        }

      }

      .average {
        background: $traffic-light-amber;
        span {
          padding-top: 23px;
        }

      }

      .above-average {
        background: $traffic-light-green;
      }

      .below-average {
        background: $traffic-light-red;
      }

      .na {
        background: $light-grey;
      }

    }

    tr.inverse {
      // Inverted color - less is better

      .below-average {
        background: $traffic-light-green;
      }

      .above-average {
        background: $traffic-light-red;
      }

    }

  }

}

.stats .box{
//  background: $light-grey;
  text-align: center;
  padding-top: 30px;

  h2{
    margin-top: 0;
  }

}


.chart {

  margin: 5px;
}

.chart rect {
    stroke: white;
//    width: 2;
}


path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x-axis line {
  stroke: darken($light-grey, 5);
}

.x-axis .minor {
  stroke-opacity: .5;
}

.x-axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}



// ZOOM

.overlay {
  fill: none;
  pointer-events: all;
}