html, body {
  width: 100%;
  height: 100%; }

h1, h2, h3 {
  text-transform: uppercase; }

#appBody {
  color: #1E222C;
  min-height: 200px; }
  #appBody .container {
    margin-top: 80px; }

.text-muted {
  color: #7A7F51; }

.navbar {
  border-radius: 0 !important;
  background-color: #1E222C;
  margin-bottom: 0;
  border-bottom: 0; }
  .navbar .navbar-brand {
    font-size: 22px; }
    .navbar .navbar-brand span {
      color: #fff;
      font-weight: bold; }
  .navbar .navbar-collapse {
    text-align: center; }
  .navbar ul.navbar-nav {
    margin: 0 auto !important;
    display: inline-block;
    float: none; }
  .navbar #search-form input {
    margin-top: 10px;
    background: #000;
    border: none; }

footer {
  background-color: #1E222C;
  margin-top: 50px; }

#search-form {
  position: relative; }
  #search-form span.glyphicon-search {
    color: #fff;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -0.5em; }
  #search-form input {
    border-radius: 0;
    box-shadow: none;
    color: #fff; }

.autocomplete-suggestions {
  color: #fff; }

.autocomplete-suggestion {
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */ }

.autocomplete-selected {
  background: #fff;
  color: #1E222C; }

#appBody, div.home {
  display: inline; }

.home .full {
  background: url("/img/commons-full.jpg") no-repeat center center fixed;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden; }
  .home .full .container {
    text-align: center; }
  .home .full h1 {
    margin-top: 160px;
    color: #fff;
    font-size: 50px;
    text-align: center; }
  .home .full #search-form input {
    border: 1px solid #fff;
    background: none;
    font-size: 2em;
    line-height: 60px;
    height: 60px; }
  .home .full #search-form span.glyphicon-search {
    font-size: 30px; }
  .home .full #home-search {
    width: 60%;
    margin: 80px auto 0 auto; }
  .home .full .help {
    color: #fff;
    margin: 20px 0;
    font-size: 18px !important; }
.home h2 {
  margin: 50px 0 30px 0; }
.home .blocks {
  margin: 20px 0;
  text-align: center; }
  .home .blocks h3 {
    margin: 20px 0 5px 0;
    font-size: 18px; }
  .home .blocks img {
    display: block;
    margin: 10px auto; }

.mp-list {
  margin-top: 80px; }
  .mp-list table th {
    border-bottom: none !important;
    cursor: pointer; }
    .mp-list table th:before {
      cursor: pointer;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 16px;
      margin-right: 5px;
      position: relative; }
  .mp-list table th.sorting-asc:before {
    content: "\f0dd";
    top: -2px; }
  .mp-list table th.sorting-desc:before {
    content: "\f0de";
    top: 5px; }
  .mp-list table td {
    border: none !important;
    vertical-align: middle !important; }
  .mp-list .fa-circle {
    font-size: 12px;
    margin-right: 10px; }
  .mp-list .labour i.fa-circle {
    color: #E00600; }
  .mp-list .conservative i.fa-circle {
    color: #0061C8; }
  .mp-list .liberal-democrat i.fa-circle {
    color: #FEB000; }

.mp {
  margin-top: 80px; }
  .mp .header {
    color: #fff;
    background: #666; }
    .mp .header .image {
      float: left;
      width: 60px;
      height: 60px;
      position: relative;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #fff;
      margin-top: 5px;
      margin-right: 15px;
      margin-bottom: 5px; }
      .mp .header .image img {
        object-fit: cover;
        min-height: 100%;
        min-width: 100%; }
    .mp .header h1 {
      margin: 15px 0 0 0; }
    .mp .header h1.with-post {
      margin: 5px 0 2px 0; }
    .mp .header h6 {
      margin: 0; }
    .mp .header h4 {
      font-weight: normal;
      line-height: 1.3em; }
      .mp .header h4 strong {
        display: block; }
  .mp .header-labour {
    background-color: #E00600; }
  .mp .header-conservative {
    background-color: #0061C8; }
  .mp .header-liberal-democrat {
    background-color: #FEB000; }
  .mp .header-uk-independence-party {
    background-color: #5B0066; }
  .mp table {
    max-width: 800px;
    margin: 20px auto; }
    .mp table tr {
      padding: 10px 0; }
      .mp table tr th, .mp table tr td {
        padding: 10px 0;
        vertical-align: middle; }
    .mp table th {
      color: #444; }
      .mp table th h2 {
        margin: 0 0 5px 0;
        font-size: 22px; }
      .mp table th p {
        font-weight: normal;
        margin-right: 80px;
        font-size: 13px; }
    .mp table td h3 {
      font-size: 28px;
      margin: 0; }
    .mp table td .traffic-light {
      width: 60px;
      height: 60px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 11px;
      overflow: hidden; }
      .mp table td .traffic-light span {
        display: block;
        padding-top: 15px; }
    .mp table td .average {
      background: #F3CA00; }
      .mp table td .average span {
        padding-top: 23px; }
    .mp table td .above-average {
      background: #6FC402; }
    .mp table td .below-average {
      background: #F86C00; }
    .mp table td .na {
      background: #F6F6F6; }
    .mp table tr.inverse .below-average {
      background: #6FC402; }
    .mp table tr.inverse .above-average {
      background: #F86C00; }

.stats .box {
  background: #F6F6F6;
  text-align: center;
  padding-top: 30px; }
  .stats .box h2 {
    margin-top: 0; }

.chart {
  margin: 5px; }

.chart rect {
  stroke: white; }

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px; }

path.area {
  fill: #e7e7e7; }

.axis {
  shape-rendering: crispEdges; }

.x.axis line {
  stroke: #fff; }

.x.axis .minor {
  stroke-opacity: .5; }

.x.axis path {
  display: none; }

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000; }

/*# sourceMappingURL=app.css.map */
